@page
@model StudentManagerApp.Pages.Students.IndexModel

<h2>Student List</h2>

<ul>
    @foreach (var student in Model.Students)
    {
        <li>@student.Name</li>
    }
</ul>

<a asp-page="Create">Add New Student</a>
